/* =========== © Centroarts.com 2021.07.18 =========== */

/* --- Page Setting --- */
body {
	font: normal 1rem/1.5 "Roboto", -apple-system, BlinkMacSystemFont, Arial, "Helvetica Neue", sans-serif;
	color: #2c3434; background-color: #f7f8f9;
}
	a { color: #29b672; text-decoration: none; }
	a:hover { color: #1E9A5E; }

.page { min-height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: space-between; }
.wrp { max-width: 1140px; padding: 0 20px; margin: 0 auto; }

@media (min-width: 1140px) {
	.wrp { padding: 0 70px; }
}
@media (min-width: 576px) and (max-width: 1139px) {
	.wrp { padding: 0 30px; }
}
@media (max-width: 767px) {
	body { background-color: #f9f9f9; }
}

/* --- Header --- */
.header {
	background-color: #fff; position: relative; z-index: 4;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.02), 0 0 1rem 0 rgba(0,0,0,0.07);
}
	.header > .wrp { display: flex; }

	/* - Logo - */
	.logotype { font-size: 1.475rem; letter-spacing: -0.07rem; margin-right: 2rem; color: inherit !important; text-decoration: none !important; }
	.i__logo_icon {
		width: 144px; height: 38px; display: inline-block; vertical-align: middle; margin: 0; overflow: hidden; text-indent: -9999px;
		background-position: 0 -85px;
	}

	.urllist { list-style: none; padding: 0; margin: 0; font-size: .75rem; line-height: 1.4; }
	.alturl-list { border-bottom: 1px solid rgba(0,0,0,0.05); }
	.alturl-list ul { display: flex; list-style: none; font-size: .75rem; line-height: 1rem; }
	.alturl-list ul > li { padding: .25rem .5rem; color: #2c3434CC; }
	.alturl-list ul > li a { color: inherit; }
	.alturl-list ul > li a:hover { color: #2c3434E6; }
	.alturl-list ul > li:first-child { margin-left: -.5rem; }

	/* - Меню в шапке - */
	@media (min-width: 992px) {
		.header { background-color: #fff; position: relative; z-index: 4; }
		.header > .wrp { height: 80px; }

		.head_menu { display: flex; align-items: center; flex: 1 1 auto; }
		.head_menu_list { margin-left: auto; }
		.head_menu_nav { margin-left: auto; display: flex; align-items: center; margin-right: -.675rem; white-space: nowrap; }
		.head_menu_nav > form button { margin: 0 1rem }
		.head_menu_nav > nav { text-align: right; font-size: 1rem; display: flex; align-items: center; }
		.head_menu_nav > nav a { color: inherit !important; }
		.head_menu_nav a, .head_menu_nav nav > span, .lang-link { opacity: 1; padding: .5rem .675rem; line-height: 1.5rem; transition: opacity .2s ease; }
		.head_menu_nav nav > a { text-decoration: none !important; }
		.head_menu_nav a.active { color: #29b672 !important; opacity: 1; }
		.head_menu_nav a:not(.active):hover { opacity: .7; }

		.lang-link { color: #29b672; text-decoration: underline; opacity: 1; cursor: pointer; }
		.lang-select { order: 13; position: relative; }
		.lang-select-drop {
			list-style: none; padding: .75rem; margin: 0; display: block !important; opacity: 0; visibility: hidden; transform: translate(-50%, -.5rem);
			position: absolute; left: 50%; top: 100%; margin-right: .675rem;
			transition: visibility 0s linear .1s, opacity .4s ease .1s, transform .4s ease .1s;
		}
		.lang-select:hover .lang-select-drop { visibility: visible; opacity: 1; transform: translate(-50%, 0); }
		.lang-select:hover .lang-link { color: #1E9A5E; }
		.lang-select-drop > li a { display: flex; padding: .25rem .675rem; }
		.lang-select-drop > li a:not(.active) { color: inherit !important; }
		.lang-select-drop > li a > span { margin-left: auto; padding-left: .5rem; }
	}
	@media (max-width: 991px) {
		.page { padding-top: 64px; }
		.header { position: fixed; z-index: 99; left: 0; top: 0; right: 0; }
		.header > .wrp, .header, .head_menu { height: 64px; display: block; }
		.header > .wrp { padding: 0; }
		.logotype { margin-left: 1.5rem; }
		
		/* Кнопка вызова меню */
		.mobilemenu_btn {
			width: 64px; height: 64px; border-width: 0; padding: 0; margin: 0;
			overflow: hidden; position: relative;
			background: none; z-index: 2;
		}

		.butterbrod { display: inline-block; position: absolute; left: 50%; top: 50%; margin: -11px 0 0 -10px; width: 20px; height: 20px; }
		.butterbrod > i {
			position: absolute; left: 0; top: 50%; width: 100%; height: 2px; overflow: hidden;
			background-color: #29b671; border-radius: 1px;
			transition: transform ease .25s, opacity ease .25s;
		}
		.butterbrod > i:first-child { margin-top: -9px; }
		.butterbrod > i:last-child { margin-top: 9px; }

		.head_menu > input:checked + .mobilemenu_btn { z-index: 1; }
		.head_menu > input:checked + .mobilemenu_btn .butterbrod > i { margin-top: 0; transform: rotate(135deg); }
		.head_menu > input:checked + .mobilemenu_btn .butterbrod > i:first-child { transform: rotate(45deg); }
		.head_menu > input:checked + .mobilemenu_btn .butterbrod > i:last-child { opacity: 0; }

		.head_menu_list {
			position: fixed;
			background-color: #fff; top: 64px; left: 0; bottom: 0; width: 100%;
			overflow-y: auto; -webkit-overflow-scrolling: touch;
			visibility: hidden; opacity: 0;
			box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.1);

			text-align: center;
			padding: 2rem;
		}

		.head_menu_list nav { display: flex; flex-direction: column; font-weight: 300; font-size: 1.5rem; align-items: center; justify-content: center; margin-bottom: 2rem; }
		.head_menu_nav { display: flex; flex-direction: column; }
		.head_menu_nav nav a { display: block; padding: .2em 0; color: inherit; text-decoration: none !important; }
		.head_menu_nav nav a.active { color: #29b672 !important; opacity: 1; }

		.head_menu_nav > form { margin-bottom: 2rem; }
		.head_menu_nav > form .btn { width: 100%; max-width: 24rem; }

		.head_menu > input:checked ~ .head_menu_list { visibility: visible; opacity: 1; transition: opacity ease .25s; }
		.head_menu > input { position: absolute; z-index: -1; opacity: 0; width: 1px; height: 1px; }

		.head_menu_foot { font-size: .75rem; }
		.head_menu_foot > ul { list-style: none; padding: 0; margin: 0; word-wrap: break-word; }

		.head_menu .lang-link { margin-bottom: 2rem; display: block; }

		.lang-select { margin: -.25rem; margin-bottom: 2rem; }
		.lang-link { display: none !important; }
		.lang-select-drop { list-style: none; padding: 0; margin: 0 auto; display: flex !important; max-width: 24rem; }
		.lang-select-drop.box { box-shadow: none; background: none; }
		.lang-select-drop > li { width: 100%; max-width: 33.333333%; flex: 0 0 33.333333%; padding: .25rem; }
		.lang-select-drop > li a { display: flex; flex-direction: column; font-size: .75rem; padding: .5rem; border-radius: .625rem; line-height: 1.3; }
		.lang-select-drop > li a:not(.active) { color: inherit !important; box-shadow: inset 0 0 0 1px rgb(0 0 0 / 5%); }
		.lang-select-drop > li a.active { box-shadow: inset 0 0 0 1px rgb(41 182 114 / 20%); }
		.lang-select-drop > li a > span { order: -1; font-weight: bold; font-size: 1rem; }

		.lang-select { order: 13; }
	}

/* --- Content Block --- */
@media (min-width: 768px) {
	.content { background-color: #fff; padding: calc(2rem + 5vh) 0; }
	.form_list { margin: 2.5rem 0; padding: 0; }
	.form_list_border, .article_list { margin: 2.5rem 0 !important; }
}
@media (max-width: 767px) {
	.content { padding: 2rem 0; font-size: .875rem; width: 100%; }
	.form_list { margin: 0; padding: 0; }

	.mob_form_fhead { position: relative; display: flex; justify-content: space-between; padding: .6rem 1rem; padding-bottom: 0; margin-bottom: 0; }
	.mob_form_fhead label { margin-bottom: .25rem !important; line-height: normal; }
	.mob_form_fhead label.bold { font-weight: bold; }
	.mob_form_fhead .tooltip { margin-right: -2px; }

	.mob_form_fcont { padding: 1rem; margin-top: -.75rem !important; }
	.mob_form_text { font-weight: bold; padding: .5rem 1rem .75rem 1rem; }
	.mob_form_ntext { font-weight: normal !important; padding: .75rem 1rem; }

	.mob_form .row, .mob_form.row { margin: 0; }
	.mob_form .row > .col, .mob_form.row > .col,
	.mob_form .row > [class*="col-"], .mob_form.row > [class*="col-"] { padding-right: 0; padding-left: 0; }
	.mob_form .form-group { border-top: 1px solid rgba(0,0,0,0.05); }
	.mob_form .form-group:first-child { border-top-width: 0; }

	.grey-bg.not_gbg { background-color: transparent; }
}
@media (min-width: 576px) and (max-width: 767px) {
	.content { padding: calc(1.5rem + 3vh) 0; }
}

.form_list, .form_list_border { list-style: none; }
.form_list > li { margin-top: 2.5rem; }
.form_list > li:first-child { margin-top: 0; }
.form_list > li::after, .form_list_border > li::after { clear: both; display: table; content: ""; }

.form_list_hr { height: 0; border-top: 1px solid rgba(0,0,0,0.1); margin: 1.75rem 0; }
.form_list_border { padding: 0; margin: 0; }
.form_list_border > li:first-child { padding-top: 0; border-top-width: 0; }

@media (min-width: 768px) {
	.form_dinlist > .wh_box { margin-top: 20px; }
	.form_dinlist > .wh_box:first-child { margin-top: 0; }

	.form_dinlist > .wh_box .mob_form_fhead { display: none; }
	.form_dinlist > .wh_box:first-child .mob_form_fhead { display: block; }
}

/* - Form Counter - */
@media (min-width: 1140px) {
	.form_counter { counter-reset: fcounter; }
	.form_counter > li::before {
		counter-increment: fcounter; content: "0"counter(fcounter); font-size: 2.125rem;
		float: left; text-align: right; margin: 0 0 0 -3.75rem; color: #D4D6D6; line-height: 1.1; font-weight: 300;
	}
}
.form_submit { position: relative; z-index: 1; }
@media (min-width: 768px) {
	.form_submit { display: flex; flex-wrap: wrap; }
	.form_submit > .btn + .form_submit-links { margin-left: 1rem; }
}
.form_submit-links { align-self: center; display: flex; flex-wrap: wrap; margin: 0 -.75rem; }
.form_submit-links > a { display: flex; align-items: center; padding: .25rem .75rem; }
.form_submit-links > a > i { margin-right: .5rem; min-width: 1.5rem; }

@media (max-width: 767px) {
	.form_submit-links { margin-top: 1rem; }
}

/* - Добавление и удаление полей - */
[class^="btn_row-"], [class*=" btn_row-"] { padding-left: 8px; padding-right: 8px; font-size: inherit; text-decoration: none !important; }
[class^="btn_row-"] > span, [class*=" btn_row-"] > span { border-radius: 50%; width: 20px; height: 20px; margin: -.1rem .5rem 0 0; padding: 4px; display: inline-block; vertical-align: middle; }
[class^="btn_row-"] > span > i, [class*=" btn_row-"] > span > i { display: block; }

	.btn_row-add > span { background-color: #29b672; transition: box-shadow ease 0.3s; }
	.btn_row-add:hover > span { box-shadow: 0 0 0 5px rgba(41,182,114,0.2); }

	.btn_row-del > span { background-color: #959999; transition: box-shadow ease 0.3s; }
	.btn_row-del:hover > span { box-shadow: 0 0 0 5px rgba(149,153,153,0.2); }

@media (max-width: 767px) {
	.form_list > li { margin-top: 0; }
	.wh_box { 
		background-color: #fdfdfd; border-radius: .5rem; box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1); margin-bottom: 1rem;
	}

	.btn_row-add, .btn_row-del { width: 100%; text-align: right; padding-left: 1rem; padding-right: 1rem; }
	.btn_row-add > span, .btn_row-del > span { float: right; margin: .1rem 0 0 .5rem; }

	.btn.wh_box_btn { border-top-right-radius: 0; border-top-left-radius: 0; box-shadow: none; }
}

/* - Выделенный блок - */
.download-block { background-color: rgba(41, 182, 114, .1); }
.download-btn .btn { display: flex; align-items: center; }
.download-btn .btn > i { margin-right: .5rem; margin-left: -.25rem; }

.download-imp { margin-left: auto; text-transform: uppercase; font-size: .75rem; display: flex; align-items: center; }
.download-imp > i { margin-left: .25rem; }

@media (min-width: 640px) {
	.download-block { display: flex; align-items: center; padding: 1rem !important; }
	.download-btn { margin-right: 1.5rem; }
	.download-cont { padding-right: 1rem; }
}
@media (max-width: 639px) {
	.download-imp { margin-top: .5rem; }
	.download-imp > i { display: none !important; }
	.download-btn { margin-bottom: .5rem; }
}
@media (min-width: 768px) {
	.gbox { border-radius: .875rem; padding: .8rem; }
}
@media (max-width: 767px) {
	.mob_form_fhead ~ .gbox_list { margin-top: .25rem; }
	.mob_form_fhead .tooltip_icon { margin-top: -1px; }
	.gbox_list .gbox { margin-top: 1px; }
	.gbox_list .gbox:first-child { margin-top: 0; }
	.gbox { padding: 1rem; }

	.download-block { border-bottom-right-radius: inherit; border-bottom-left-radius: inherit; }
}


/* - Список транзакций - */
.list_trans, .list_trans ul { list-style: none; padding: 0 0 0 1.5rem; }
	.list_trans li { margin-top: .4rem; word-wrap: break-word; }
	.list_trans li:first-child { margin-top: 0; }
	.list_trans li::before { content: ""; float: left; margin: .5em 0 0 -1rem; width: 6px; height: 6px; border-radius: 50%; background-color: #29b672; }

	.list_trans ul { margin-top: .5rem; margin-bottom: 1rem; padding-left: 0; }
	.list_trans ul li { margin-top: .125rem; }
	.list_trans ul li::before { opacity: .3; }

	.list_trans li.grey-text { margin-top: 1rem; }
	.list_trans li.grey-text::before { display: none; }

/* - Список транзакций - */
.intro .title, .intro .stitle { margin-bottom: .75rem; }
.title, .intro { margin-bottom: 1.5rem; }
.stitle { font-size: 1.5rem; font-weight: normal; }
.subtitle { margin-bottom: 1rem; }
	.subtitle > h3, .subtitle > h4, .subtitle > h2 { display: inline-block; vertical-align: top; }
	.subtitle > i { margin: .1rem 0 0 -50px; float: left; }

	ul.calc_list { list-style: none; padding: 0; margin: 0; }
	ul.calc_list > li { padding: .8rem; border-bottom: 1px solid rgba(0,0,0,0.08); }

/* - Текстовая страница - */
@media (min-width: 768px) {
	.article { margin: 2.5rem 0; }
	.article h1, .article h2, .article h3 { margin: 2.5rem 0 1.5rem 0; }
	.article p, .article .highlightbox, .article ul, .article blockquote { margin-bottom: 1.5rem; }
	.article hr { margin: 2.5rem 0; }
}
@media (max-width: 767px) {
	.article { margin: 2rem 0; }
	.article h1, .article h2, .article h3 { margin: 2rem 0 1rem 0; }
	.article p, .article .highlightbox, .article ul, .article blockquote { margin-bottom: 1rem; }
	.article hr { margin: 2rem 0; }
}
	.article .btn { font-size: inherit; }

	.article ul { list-style: none; padding: 0 0 0 30px; }
		.article ul > li { margin-top: .4rem; }
		.article ul > li:first-child { margin-top: 0; }
		.article ul > li::before { content: ""; float: left; margin: .6rem 0 0 -20px; width: 6px; height: 6px; border-radius: 50%; background-color: #29b672; }

	.highlightbox { background-color: #f5f5f4; padding: 1.8rem 2.2rem; color: #707473; }

.article_list {}
	.post { border-top: 1px solid rgba(0,0,0,0.1); padding: 2rem 0; position: relative; }
	.post_text { margin: 1rem 0; }
	.post_link > a::after { content: ""; position: absolute; left: 0; top: 0; bottom: 0; width: 100%; }

.icon-line { display: flex; }
.icon-line > i { align-items: center; margin-right: .5rem; min-width: 1.5rem; }
.icon-line-cont { align-self: center; }

/* --- Messages --- */
.message { pointer-events: auto; border-radius: .625rem; background-color: #E9F8F1; padding: 1rem; display: flex; position: relative; font-size: .875rem; margin-bottom: 1rem; }
.message-outer > input[type="checkbox"] { position: absolute; opacity: 0; visibility: hidden; }
.message-outer > input[type="checkbox"]:checked + .message { display: none; }
.message-cont { line-height: 1.4; padding-right: 1.5rem; max-width: 18rem; }
.message-icon { min-width: 2.25rem; max-width: 2.25rem; height: 2.25rem; margin-right: 1rem; }

.message-close { position: absolute; right: 0; top: 0; cursor: pointer; padding: .5rem; border: 0 none; opacity: .3; background: none; width: 2rem; height: 2rem; }
.message-close:hover { opacity: .6; }
.message-close > i { display: block; }

.tor-message { background-color: rgba(146, 25, 205, 0.05); }

@media (min-width: 768px) {
	.message-outer { position: absolute; right: 0; top: 6rem; padding: 1.5rem; max-width: 20rem; pointer-events: none; z-index: 7; }
}

/* --- News Block --- */
.block-news { padding: 2rem 0; }
.block-news .title { font-size: 1.5rem; line-height: 1.4; margin-bottom: 1rem; }
.news-item-box { position: relative; width: 100%; background-color: #fff; border-radius: .5rem; padding: 1rem; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1); }
.news-item-box > time { font-size: .75rem; display: block; margin-bottom: .25rem; }
.news-item-box > a { display: block; line-height: 1.4em; }
.news-item-box > a::after { content: ""; position: absolute; left: 0; top: 0; bottom: 0; width: 100%; }

@media (min-width: 768px) {
	.block-news { padding: 3.5rem 0; }
	.block-news .title { font-size: 2rem; margin-bottom: 1.5rem; }
	.news-list { margin: -.875rem; display: flex; flex-wrap: wrap; }
	.news-item { padding: .875rem; width: 33.333333%; display: flex; }
	.news-item-box { padding: 1.5rem; }
	.news-item-box > time { font-size: .875rem; margin-bottom: .75rem; }
	.news-item-box > a { font-size: 1.375rem; min-height: 4.2em; }
	.news-item-box { box-shadow: 0 .25rem 1.25rem 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.02); border-radius: 1.125rem; }
}

@media (max-width: 767px) {
	.block-news { border-top: 1px solid rgba(0, 0, 0, 0.1); }
	.news-item:not(:first-child) { margin-top: 1rem; }
}

/* --- Footer --- */
.footer { padding: 1.75rem 0; }
.foot { font-size: .875rem; display: flex; flex-wrap: wrap; align-items: flex-start; min-width: 0; margin: -1rem; }
.foot ul { list-style: none; padding: 0; margin: 0; }
.foot-info { word-wrap: break-word; min-width: 0; }
.foot-info, .foot-links { padding: 1rem !important; }
.foot-links { width: 100%; display: flex; flex-wrap: wrap; align-items: flex-start; }
.foot-info, .foot-links ul, .foot-links { width: 100%; max-width: 50%; flex: 0 0 50%; }
.foot-links > li { padding-right: 1.5rem; }

.copyright { font-weight: bold; }
.copyright a { color: inherit; }

.copyright_foot { list-style: none; padding: 0; margin: 0; }